* {
  background-color: rgb(249, 249, 225);
  color: red;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 1em;
}

.noline:link {
  text-decoration: none;
}

#hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 7em;
  transform: scaleY(1.5);
  padding-top: 0.5em;
}

#title {
  font-size: 1.1em;
  padding-bottom: 2em;
}

h3 {
  font-size: 3em;
  padding-left: 1em;
  border-bottom: 5px solid red;
}

.content {
  padding: 0em 1em 0em 15em;
  font-size: 1.3em;
  line-height: 1.5;
}

img {
  height: 300px;
  width: 500px;
  border-radius: 15px;
}

#info {
  font-size: 0.6em;
  text-transform: uppercase;
}

#contact {
  font-size: 1.2em;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

.footer {
  display: flex;
  justify-content: center;
}

.tag {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input,
textarea,
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:red;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.resume {
  padding-left: 2em;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  img {
    width: 300px;
    height: 200px;
  }

  #contact {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  img {
    width: 300px;
    height: 200px;
  }

  #contact {
    font-size: 0.6em;
  }
}
